
.wrapper {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: 700;
    color: #f9e11e;
    background-color: #000000;
    position: absolute;
}

.starwars-subtitles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 500%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(200px) rotateX(10deg);
    background-color: inherit;
}


.subtitles-text {
    text-align: justify;
    margin: 0.8em 0;
    line-height: 1.5;
}

.episode-name {
    text-align: center;
    line-height: 2;
}

.subtitle-content {
    position: absolute;
    top: 100%;
    animation: scroll 30s ease-in infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -47%; }
}
